127.0.0.1 localhost

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

10.1.8.28       cm4.urashiman.org       cm4
10.1.8.50       tpi-console.urashiman.org tpi-console
#Keepalived Virtual IP
10.1.8.60       tpivip.urashiman.org    tpivip
10.1.8.61       tpi-mn1.urashiman.org   tpi-mn1
10.1.8.62       tpi-mn2.urashiman.org   tpi-mn2
10.1.8.63       tpi-mn3.urashiman.org   tpi-mn3
10.1.8.64       tpi-mn4.urashiman.org   tpi-mn4

10.1.8.70       k8svip.urashiman.org    k8svip
10.1.8.71       k8s-mn1.urashiman.org   k8s-mn1
10.1.8.72       k8s-mn2.urashiman.org   k8s-mn2
10.1.8.73       k8s-mn3.urashiman.org   k8s-mn3
10.1.8.74       k8s-mn4.urashiman.org   k8s-mn4

#Kubectl Client
10.1.8.80       kubclient.urashiman.org kubclient

10.1.8.91       k8s-wn0.urashiman.org   k8s-wn1
10.1.8.92       k8s-wn1.urashiman.org   k8s-wn2
10.1.8.93       k8s-wn2.urashiman.org   k8s-wn3
10.1.8.94       k8s-wn3.urashiman.org   k8s-wn4
